.uldownload {
  list-style-type: none;
  background-color: #efefef;
  margin: 0px;
  padding: 5px;
  margin: 0 15px 0 0;
  border: #F5F5F5 3px solid;
}

.lidownload {
  list-style-type: "";
  background-color: #dfdfdf;
  margin-right: 5px;
  margin: 0 15px 0 0;
  border: #F5F5F5 3px solid;
  height: 155px;
}

.lidownload a, .lidownload p {
  color: black;
}

.lidownload img {
  background-color: #dfdfdf;
  float: left;
  margin-right: 5px;
  margin: 0 15px 0 0;
  border: #F5F5F5 3px solid;
  max-width: 150px;
  max-height: 150px;
}